# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
.env

# Project specific
data/raw/*
data/processed/*
!data/**/.gitkeep
models/*.pkl
models/*.h5
config/secrets.yaml
.DS_Store
